section{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
body{
    padding: 0;
    margin:0;
    height: 400vh;
}
nav{
    height: 8vh;
    list-style: none;
    display: flex;
    justify-content: center;
}
.start{
    margin: 20px;
}
