#MK1{
height: 100vh;    
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
body{
    padding: 0;
    margin:0;
    height: 400vh;
}
.kkk{
    width: 199.9vh;
    height: 100%;
}
#MK2{
    text-align: left;
}
li{
    list-style: none;
    margin: 12px;
}
ul{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.button{
    background-color: #0a0a23;
    border: none;
    color: aliceblue;
}
.button:hover{
    background-color: aqua;
    color: #0a0a23;
}
.centered{
    position: absolute;
    top: 350px;
    left: 99.95px;
    color: aliceblue;
}
#centered{
    position: absolute;
    top: 350vh;
    left: 140px;
    color: aquamarine;
}
#Z2{
    position: absolute;
    top: 950px;

}