#MK1{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SL{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
body{
    padding: 0;
    margin:0;
    height: 400vh;
}
nav{
    height: 8vh;
    list-style: none;
    display: flex;
    justify-content: center;
}
.start{
    margin: 20px;
}
header{
    background-color: black;
    color: white;
}
.box{
    width: 300px;
    min-height: 720px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    margin: 10px;
    border-radius: 2%;
    margin: 20px;
}
#MK2{
    font-family: "Poppins", serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
#SBMK3{
    border-radius: 2%;
    margin-top: 80px;
    width: 380px;
}
#MK3{
    height: 100vh;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxMK2{
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    margin: 12px;
}
#SBMK1{
    width: 380px;
    margin: 20px;
    border-radius: 2%;
}
h2{
    text-align: center;
}
#MK4{
    height: 100vh;
}